.abilities {
    display: flex;
    justify-content: center;
    margin-left: -13px;
    
    &__item {
        padding-left: 13px;
    }
}

.ability {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important;
}